<script src="https://even-dinosaurs.deno.dev/comments/v1/wui.js"
        type="module">
</script>

<div id="even-dinosaurs-have-opinions"
     style="margin-top: 3em;"
     data-page-id="{{ .File }}"
     data-api-base-url="https://even-dinosaurs.deno.dev/comments"></div>
</body>
