{{$data :=  index .Site.Data (.Get "datafile" )}}
{{$dataUrl :=  (.Get "data-url" )}}
<svg width="100%" height="5rem" id="calendar-svg"></svg>

<script type="module">
    import calendarRenderer from "/course-calendar.js";
    import { parse } from  "https://esm.sh/smol-toml@1.1.3";
    async function getData(inlinedData, dataUrl){
        if(!!JSON.parse(inlinedData)){
            return JSON.parse(inlinedData);
        }
        const resp = await fetch(dataUrl);
        return parse(await resp.text());
    }
    const data = await getData({{ jsonify $data  }}, {{ $dataUrl  }});

    calendarRenderer(window.document.getElementById("calendar-svg"), Object.values(data));
</script>