<pre class="mermaid">
    {{- .Inner | safeHTML }}
</pre>

{{ if not (.Page.Store.Get "hasMermaid") }}
    <script type="module">
        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';

        function isDark(e){
            return e.style.filter === 'invert(100%)';
        }
        function setColorToElement(e, dark){
            if(!e || isDark(e) === dark){
                return;
            }
            e.style.filter = isDark(e) ? '': 'invert(100%)';
        }
        function setColorsOfAllMermaidElements(){
            const dark = document.body.getAttribute("theme") === 'dark';
            for(const e of window.document.getElementsByClassName('mermaid')){
                setColorToElement(e.children[0], dark);
            }
            window.document.getElementsByClassName('mermaid')
        }
        setInterval(setColorsOfAllMermaidElements, 100);

    </script>
    {{ .Page.Store.Set "hasMermaid" true }}
{{ end }}


