
<h2>Total Views</h2>
<div id="total-stats" style="width: 100%"></div>


<h2>Cumulative Since Last Post</h2>
<div id="cumulative-since-last-post" style="width: 100%"></div>

<h2>All Time Cumulative Post Views</h2>
<div id="cumulative-stats" style="width: 100%"></div>



<h2>All Time Cumulative Course Views</h2>
<div id="course-cumulative-stats" style="width: 100%"></div>


<h2>All Time Cumulative Book Review Views</h2>
<div id="book-reviews-cumutative-stats" style="width: 100%"></div>


<script src="https://cdn.jsdelivr.net/npm/vega@5.25.0"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@5.9.0"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6.22.1"></script>


<script type="module" >
    import * as duckdb from "https://esm.sh/@duckdb/duckdb-wasm@1.29.0";

    async function getDataBaseConnection(){
        const JSDELIVR_BUNDLES = duckdb.getJsDelivrBundles();

        // Select a bundle based on browser checks
        const bundle = await duckdb.selectBundle(JSDELIVR_BUNDLES);
        const m = `importScripts("${bundle.mainWorker}");`;
        const worker_url = URL.createObjectURL(
            new Blob([m], {type: 'text/javascript'})
        );

        // Instantiate the asynchronus version of DuckDB-Wasm
        const worker = new Worker(worker_url);
        const logger = new duckdb.ConsoleLogger();
        const db = new duckdb.AsyncDuckDB(logger, worker);
        await db.instantiate(bundle.mainModule, bundle.pthreadWorker);
        URL.revokeObjectURL(worker_url);

        return await db.connect();
    }

    async function createStatisticsTable(conn){
        await conn.query(`CREATE TABLE statistics AS
            SELECT * FROM "https://all-dressed-programming.gitlab.io/all-dressed-programming-website-statistics/data.parquet"
        `);
        return conn;
    }

    function castNumbers(keys){
        return (row) => {
            for(const key of keys){
                row[key] = Number(row[key]);
            }
            return row;
        }
    }

    function getVegaLiteDarkTheme(){

        const lightColor = '#fff';
        const medColor = '#888';

        return {
            background: '#292a2d',

            title: {
                color: lightColor,
                subtitleColor: lightColor
            },

            style: {
                'guide-label': {
                    fill: lightColor,
                },
                'guide-title': {
                    fill: lightColor,
                },
            },

            axis: {
                domainColor: lightColor,
                gridColor: medColor,
                tickColor: lightColor,
            },
        };
    }

    async function create_total_statistics_chart(conn, selector){
        const q = await conn.query(`
                SELECT request_path_parts[3] AS post,
                       COUNT(*) as number_of_views
                FROM "statistics"
                WHERE request_domain = 'all-dressed-programming.com'
                  AND request_path_parts[2] = 'posts'
                  AND request_path_parts[3] <> ''
                GROUP BY request_path_parts[3];`)


        const vlSpec = {
            $schema: 'https://vega.github.io/schema/vega-lite/v5.json',
            width: 'container',
            config: getVegaLiteDarkTheme(),
            data: {
                values: q.toArray().map(r => r.toJSON()).map(castNumbers(['number_of_views']))
            },
            mark: 'bar',
            encoding: {
                y: {field: 'post', type: 'nominal', axis: {title: 'Post'}},
                x: {
                    aggregate: 'average',
                    field: 'number_of_views',
                    type: 'quantitative',
                    axis: {
                        title: 'Number Of Views'
                    }
                }
            }
        };
        vegaEmbed(selector, vlSpec);
    }

    async function createCumulativeViews(conn, selector, startDate){
        startDate = Math.floor(startDate / 1000);
        const q = await conn.query(`
                SELECT request_path_parts[3] AS post,
                       row_number() OVER (PARTITION BY request_path_parts[3] ORDER BY created_at ASC) AS count,
                       created_at
                FROM "statistics"
                WHERE request_domain = 'all-dressed-programming.com'
                  AND request_path_parts[2] = 'posts'
                  AND request_path_parts[3] <> ''
                  AND created_at >= to_timestamp(${startDate})`)

        const vagaLiteSpec = {
            data: {
                values: q.toArray().map(r => r.toJSON()).map(castNumbers(['count']))
            },
            width: 'container',
            mark: "line",
            config: getVegaLiteDarkTheme(),
            encoding: {
                x: {field: "created_at", type: "temporal", axis: {title: 'Date'}},
                y: {field: "count", type: "quantitative", axis: {title: 'Cumulative Count'}},
                color: {field: "post", type: "nominal"}
            }
        };
        vegaEmbed(selector, vagaLiteSpec);
    }

    async function createCourseCumulativeViews(conn, selector){
        const q = await conn.query(`
                SELECT request_path_parts[3] AS course,
                       row_number() OVER (PARTITION BY request_path_parts[3] ORDER BY created_at ASC) AS count,
                       created_at
                FROM "statistics"
                WHERE request_domain = 'all-dressed-programming.com'
                AND request_path_parts[3] in ('420-306-ah', '420-317-ah', '420-298-ah', '420-320-ah');`)

        const vagaLiteSpec = {
            data: {
                values: q.toArray().map(r => r.toJSON()).map(castNumbers(['count']))
            },
            width: 'container',
            mark: "line",
            config: getVegaLiteDarkTheme(),
            encoding: {
                x: {field: "created_at", type: "temporal", axis: {title: 'Date'}},
                y: {field: "count", type: "quantitative", axis: {title: 'Cumulative Count'}},
                color: {field: "course", type: "nominal"}
            }
        };
        vegaEmbed(selector, vagaLiteSpec);
    }

    async function createBookReviewsCumulativeViews(conn, selector){
        const q = await conn.query(`
                SELECT request_path_parts[3] AS isbn,
                       row_number() OVER (PARTITION BY request_path_parts[3] ORDER BY created_at ASC) AS count,
                       created_at
                FROM "statistics"
                WHERE request_domain = 'all-dressed-programming.com'
                AND length(request_path_parts) = 3 AND request_path_parts[2] = 'book-reviews' ;`)

        const vagaLiteSpec = {
            data: {
                values: q.toArray().map(r => r.toJSON()).map(castNumbers(['count']))
            },
            width: 'container',
            mark: "line",
            config: getVegaLiteDarkTheme(),
            encoding: {
                x: {field: "created_at", type: "temporal", axis: {title: 'Date'}},
                y: {field: "count", type: "quantitative", axis: {title: 'Cumulative Count'}},
                color: {field: "isbn", type: "nominal"}
            }
        };
        vegaEmbed(selector, vagaLiteSpec);
    }

    async function createCumulativeViewsSinceLastPost(conn, selector){

        const lastPostFirstView = (await conn.query(`
                SELECT max(created_at)
                FROM (
                    SELECT request_path_parts[3] AS post,
                       min(created_at) AS created_at
                    FROM "statistics"
                    WHERE request_domain = 'all-dressed-programming.com'
                      AND request_path_parts[2] = 'posts'
                      AND request_path_parts[3] <> ''
                    GROUP BY request_path_parts[3]
                )`)).get(0).toArray()[0];
        await createCumulativeViews(conn, selector, lastPostFirstView);
    }

    let conn = await getDataBaseConnection();
    conn = await createStatisticsTable(conn);
    const chartPromises = []

    chartPromises.push(create_total_statistics_chart(conn, '#total-stats'));
    chartPromises.push(createCumulativeViews(conn, '#cumulative-stats', 0));
    chartPromises.push(createCumulativeViewsSinceLastPost(conn, '#cumulative-since-last-post'));

    chartPromises.push(createCourseCumulativeViews(conn, '#course-cumulative-stats'));
    chartPromises.push(createBookReviewsCumulativeViews(conn, '#book-reviews-cumutative-stats'));

    await Promise.all(chartPromises)

</script>
