{{- define "title" }}
    {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}

<div class="page archive">
    {{ range $section := .Pages.ByParam "priority" }}
        {{ if $section.IsSection }}
        <h2 class="single-title animate__animated animate__pulse animate__faster">
            {{- $section.Params.Title -}}
        </h2>
        {{if $section.Params.Description }}
            <p>{{ $section.Params.Description }}</p>
        {{ end }}
         <ol>
                {{ range $page := $section.Pages.ByPublishDate }}
                <article class="archive-item">
                    <a href="{{ .RelPermalink }}" class="archive-item-link">
                        {{- .Title | emojify -}}
                    </a>
                    <span class="archive-item-date">
                        {{- $.Site.Params.section.dateFormat | default "01-02" | .Date.Format -}}
                    </span>
                </article>
                {{ end }}
            </ol>
        {{end}}
    {{ end}}
    </div>
{{- end -}}
