{{- define "title" }}
    {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
    <div class="page archive">

        {{- /* Presentation section */ -}}

        <h2 class="single-title animate__animated animate__pulse animate__faster">Presentations</h2>

          {{ range .Site.Params.presentations }}
            <article class="archive-item">
                <a href="{{ .slide_url }}" class="archive-item-link">
                   {{- .title | emojify -}}
                </a>
                <span class="archive-item-date">
                </span>
            </article>
         {{ end }}



        {{- /* Courses section */ -}}


        {{- /* Title */ -}}
        <h2 class="single-title animate__animated animate__pulse animate__faster">
            Courses
        </h2>

        {{- /* Paginate */ -}}
        {{- if .Pages -}}
            {{- $pages := .Pages.GroupByDate "2006" -}}
            {{- with .Site.Params.section.paginate | default .Site.Params.paginate -}}
                {{- $pages = $.Paginate $pages . -}}
            {{- else -}}
                {{- $pages = .Paginate $pages -}}
            {{- end -}}
            {{- range $pages.PageGroups -}}
                <h3 class="group-title">{{ .Key }}</h3>
                {{- range .Pages -}}
                    <article class="archive-item">
                        <a href="{{ .RelPermalink }}" class="archive-item-link">
                            {{- .Title | emojify -}}
                        </a>
                        <span class="archive-item-date">
                            {{- $.Site.Params.section.dateFormat | default "01-02" | .Date.Format -}}
                        </span>
                    </article>
                {{- end -}}
            {{- end -}}
            {{- partial "paginator.html" . -}}
        {{- end -}}



    </div>



{{- end -}}
